[submodule "plugins/YouCompleteMe"]
	path = plugins/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
[submodule "plugins/a.vim"]
	path = plugins/a.vim
	url = https://github.com/vim-scripts/a.vim.git
[submodule "plugins/cocoa.vim"]
	path = plugins/cocoa.vim
	url = https://github.com/msanders/cocoa.vim
[submodule "plugins/jekyll.vim"]
	path = plugins/jekyll.vim
	url = https://github.com/csexton/jekyll.vim.git
[submodule "plugins/vim-octopress"]
	path = plugins/vim-octopress
	url = https://github.com/tangledhelix/vim-octopress.git
[submodule "plugins/snipmate-snippets"]
	path = plugins/snipmate-snippets
	url = https://github.com/scrooloose/snipmate-snippets.git
[submodule "plugins/surround.vim"]
	path = plugins/surround.vim
	url = https://github.com/vim-scripts/surround.vim.git
[submodule "plugins/syntastic"]
	path = plugins/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "plugins/taglist.vim"]
	path = plugins/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
[submodule "plugins/ultisnips"]
	path = plugins/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "plugins/vim-haml"]
	path = plugins/vim-haml
	url = https://github.com/tpope/vim-haml
[submodule "plugins/vim-markdown"]
	path = plugins/vim-markdown
	url = https://github.com/tpope/vim-markdown.git
[submodule "plugins/vim-swift"]
	path = plugins/vim-swift
	url = https://github.com/toyamarinyon/vim-swift.git
[submodule "plugins/vim-openscad"]
	path = plugins/vim-openscad
	url = https://github.com/rcarlsen/vim-openscad.git
[submodule "plugins/vim-endwise"]
	path = plugins/vim-endwise
	url = https://github.com/tpope/vim-endwise.git
[submodule "plugins/plantuml-syntax"]
	path = plugins/plantuml-syntax
	url = https://github.com/aklt/plantuml-syntax.git
